{% extends 'base.html' %}
{% load static %}

{#<script>#}
{#  document.getElementById("add_city").addEventListener("submit", function(event){#}
{#    if (!this.checkValidity()) {#}
{#      event.preventDefault();#}
{#      event.stopPropagation();#}
{#      alert("Form is not valid. Please fill in all required fields.");#}
{#      return false;#}
{#    }#}
{#  });#}
{#</script>#}

{% block title %}
    Current Weather
{% endblock %}

{% block city_input_field %}
    <div class="mb-3 p-5 w-50 mx-auto">
        <label for="city_input_field" class="form-label">Add the city for which you want to observe:</label>
        <form id='add_city' method="post">
            <div class="input-group flex-nowrap ">
                <label class="input-group-text"
                       id="addon-wrapping"
                       style="border-top-left-radius: 0.375rem; border-bottom-left-radius: 0.375rem;">
                    City
                </label>
                {% csrf_token %}
                {{ city_input_field }}
            </div>
        </form>
    </div>
    {% for field in city_input_field %}
        {% if field.errors %}
            {{ field.errors|join:", "  }}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}

    <div>
        <div class="album py-5">
            <div class="container">
                <div class="row h-4 align-center">
                    {% for city in cities %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow" style="border-radius: 25px;">
                                <div class="card-body p-4">
                                    <div class="d-flex justify-content-between mb-0 pb-2">
                                        <div>
                                            <h4 class="text-muted mb-0">
                                                <strong>{{ city.city }}, {{ city.country }}</strong></h4>
                                            <h3 class="display-6"><strong>{{ city.temperature }}°C</strong></h3>
                                            <p class="mb-1">Description: {{ city.description }}</p>
                                            <p class="mb-1">Feels like: {{ city.feels_like }}°C</p>
                                            <p class="mb-1">Humidity: {{ city.humidity }}%</p>
                                        </div>
                                        <div>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete_city" value="{{ city.city_del }}">
                                                <button value="" type="submit" class="btn-close"
                                                        style="position: absolute; right: 20px; top: 20px;"></button>
                                            </form>
                                            <div style="position: absolute; right: 40px; top: 40px;">
                                                <img src="https://openweathermap.org/img/wn/{{ city.image }}@2x.png"
                                                     alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <a href="{{ city.weather_in_db.get_absolute_url }}" class="btn btn-light"
                                                        style="position: absolute; right: 40px; bottom: 35px;">Detailed</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}