{% extends 'base.html' %}
{% load static %}

{% block title %}
    Current Weather
{% endblock %}

{% block city_input_field %}

    <div class="mb-3 p-5 w-50 mx-auto">
        <label for="city_input_field" style="margin-bottom: 4px; font-size: 20px; font-weight: 500">
            Enter the city for which you want to get weather.
        </label>
        <form  id='add_city' method="post">
            {% csrf_token %}
            <div class="input-group">
                <span class="input-group-text" id="addon_city">City</span>
                {{ city_input_field.city_input_field }}
            </div>
            {% if city_input_field.city_input_field.errors %}
                <div class="text-danger" style="font-size: 14px; padding-left: 8%">{{ city_input_field.city_input_field.errors.0 }}</div>
            {% endif %}

        </form>
    </div>

{% endblock %}

{% block content %}
    <div><h3 style="text-align: center">Your "Current Weather" Dashboard</h3></div>
    <div>
        <div class="album py-5">
            <div class="container">
                <div class="row h-4 align-center">
                    {% for city in cities %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow" style="border-radius: 25px;">
                                <div class="card-body p-4">
                                    <div class="d-flex justify-content-between mb-0 pb-2">
                                        <div>
                                            <h4 class="text-muted mb-0">
                                                <strong>{{ city.1.data.name }}, {{ city.1.data.sys.country }}</strong>
                                            </h4>
                                            <h3 class="display-6">
                                                <strong>{{ city.1.data.main.temp|floatformat:0 }}°C</strong></h3>
                                            <p class="mb-1">
                                                Description: {{ city.1.data.weather.0.description|title }}</p>
                                            <p class="mb-1">Feels like: {{ city.1.data.main.feels_like|floatformat:0 }}°C</p>
                                            <p class="mb-1">Humidity: {{ city.1.data.main.humidity }}%</p>
                                        </div>
                                        <div>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete_city" value="{{ city.0 }}">
                                                <button value="" type="submit" class="btn-close"
                                                        style="position: absolute; right: 20px; top: 20px;"></button>
                                            </form>
                                            <div style="position: absolute; right: 40px; top: 40px;">
                                                <img src="https://openweathermap.org/img/wn/{{ city.1.data.weather.0.icon }}@2x.png"
                                                     alt="">
                                            </div>
                                        </div>
                                        <div>
                                            <a href="{{ city.1.get_absolute_url }}" class="btn btn-light"
                                               style="position: absolute; right: 40px; bottom: 35px;">Detailed</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}