{% extends 'base.html' %}
{% load static %}

{% block map %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}"></script>
{% endblock %}

{% block title %}
    {{ data }} - Detailed Weather
{% endblock %}

{% block content %}
    <div class="album py-5">
        <div class="container">
            <div class="row h-4 align-center">
                <div class="col-md-6">
                    <div class="card mb-4 box-shadow" style="border-radius: 25px;">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between mb-0 pb-2">
                                <div>
                                    <h4 class="text-muted mb-0">
                                        <strong>{{ data }}, {{ data.data.sys.country }}</strong></h4>
                                    <h3 class="display-6"><strong>{{ data.data.main.temp }}°C</strong></h3>
                                    <p class="mb-1">Description: {{ data.data.weather.0.description }}</p>
                                    <p class="mb-1">Feels like: {{ data.data.main.feels_like }}°C</p>
                                    <p class="mb-1">Humidity: {{ data.data.main.humidity }}%</p>
                                </div>
                                <div>
                                    <div style="position: absolute; right: 40px; top: 40px;">
                                        <img src="https://openweathermap.org/img/wn/{{ data.data.weather.0.icon }}@2x.png"
                                             alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-6">
                        <div class='card' id="map" style="width:600px; height:400px; border-radius: 25px;">
                            <script>
                                function initMap() {
                                    var lat = {{ data.data.coord.lat }};
                                    var lng = {{ data.data.coord.lon }};
                                    var myLatLng = {lat: lat, lng: lng};
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        zoom: 8,
                                        mapId: '5505e5dcf9bbf873',
                                        mapTypeID: 'roadmap',
                                        center: myLatLng
                                    });
                                    var marker = new google.maps.Marker({
                                        position: myLatLng,
                                        map: map
                                    });
                                }
                            </script>
                            <script async defer
                                    src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap">
                            </script>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}